body {
  background: url('assets/home/background-home-desktop.jpg') #0b0d17;
  background-size: cover;
}

hr {}

h1 {
  font-family: 'Bellefair', serif;
  font-size: 937.5%;
  font-weight: 100;
  color: #ffffff;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: 'Bellefair', serif;
  font-size: 625%;
  font-weight: 100;
  color: #ffffff;
  margin: 0;
}

h3 {
  font-family: 'Bellefair', serif;
  font-size: 350%;
  font-weight: 100;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
}

h4 {
  font-family: 'Bellefair', serif;
  font-size: 200%;
  font-weight: 100;
  color: #ffffff;
  margin: 0;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: lighter;
  font-size: 175%;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  word-spacing: 100%;
  color: #d0d6f9;
  margin: 0;
  padding-left: 15px;
}

p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 150%;
  font-weight: 100;
  color: #d0d6f9;
  margin: 0;
  padding-left: 15px;
}

div {
  backdrop-filter: blur(5000%);
}

.top {
  display: inline-block;
  width: 100%;
  height: 200px;
}

.top img {
  margin: 50px;
}

.top hr {
  border-top: none;
  border-width: 2px;
  border-color: gray;
  opacity: 70%;
  width: 60%;
  margin: 20px;
  position: absolute;
  top: 60px;
  left: 150px;
}

.top div {
  display: inline;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 30px;
  right: 0;
  width: 50%;
  padding: 20px;
}

.top div p {
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 10px 40px;
}

.nav {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 150%;
  display: inline-block;
  margin: 5px 20px;
}

.home {
  backdrop-filter: blur(1000%);
  position: absolute;
  top: 50px;
  right: 0;
  height: 40px;
  width: 40%;
}

.space {
  background-color: transparent;
  backdrop-filter: none;
  position: absolute;
  top: 45%;
  left: 15%;
  width: 25%;
}

.explore {
  background-color: #ffffff;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  position: absolute;
  right: 10%;
  top: 50%;
}

.explore h3 {
  color: #0b0d17;
  position: absolute;
  top: 40%;
  right: 11%;
}
